main {
    display: grid;
    grid-template-columns: 1fr 250px;
  }


#ads {
    display: grid;
    place-items: center;  
    border: 0.3rem dashed rgb(0, 0, 0, 0.2);  
}
#ads > * {
    transform: rotate(-90deg);
    opacity: 0.2;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: bolder;
}


footer {
    border-top: 0.3rem solid rgb(0, 0, 0, 0.5);
}


/* Mobile ------------------------------------------------------------------ */
@media only screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }

    
    #ads {
        display: none;
    }
}