#profile {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
  }
  
  #profile-popup {
    position: absolute;
    bottom: -5rem;
    left: -100px;
  
    display: none;
    min-width: 150px;
    
    border: 0.1rem solid rgb(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .2rem rgb(0, 0, 0, 0.2);
  
  }

  #profile-popup > * {
    padding: 0.5rem;
  }
  
  #profile-popup > *:hover {
    background: var(--sec-bg-clr);
  }